@(title: String = "Please Login", username: String = "none")

@views.html.Application.core(title) {
  <div class="container">
    <div class="row text-center">
      <img src="@routes.Assets.at("images/logo.png")" width="330">
    </div>
    <form class="form-signin" method="POST" action="@routes.Users.finishRegister()">
      <h2 class="form-signin-heading">Registration</h2>
      <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
      <input type="password" class="form-control" name="password" placeholder="Password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    </div>
  </div>
}
