<form class="form-horizontal" role="form" method="POST" action="@routes.Carts.checkout()">
  <legend>Credit Card</legend>
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Type</label>
    <div class="col-lg-10">
      <select class="form-control" name="cardtype" id="cardtype">
        <option>Visa</option>
        <option>Mastercard</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="cardnumber" class="col-lg-2 control-label">Card Number</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="cardnumber" name="cardnumber" placeholder="XXXX-XXXX-XXXX-XXXX">
    </div>
  </div>
  <legend>Shipping</legend>
  <div class="form-group">
    <label for="address" class="col-lg-2 control-label">Street</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" name="address_street" id="address_street" />
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-lg-2 control-label">Suburb</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" name="address_suburb" id="address_suburb" />
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-lg-2 control-label">Postcode</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" name="address_postcode" id="address_postcode" />
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-lg-2 control-label">Country</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" name="address_country" id="address_country" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="address_remember" id="address_remember">
          Remember this address as my default address
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <p class="help-block">Please note that you must press update to change your order before you press checkout!</p>
      <button type="submit" name="checkout" id="checkout" class="btn btn-defaultv btn-primary pull-right">Checkout</button>
    </div>
  </div>
</form>