@(items: List[models.Book])

<form role="form" method="POST" action="@routes.Carts.update()">
  <input id="relative" name="relative" type="hidden" value="false" />
  <table class="table">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
    @for(item <- items) {
      @views.html.Carts.partials.item(String.valueOf(item.getMongo("isbn")),
        String.valueOf(item.getMongo("title")),
        item.getMongo("quantity").asInstanceOf[Int])
    }
    </tbody>
  </table>
  <button type="submit" class="btn btn-warning pull-right">Update</button>
</form>
