@(title: String = "Books", books: List[models.Book], page: Int, pages: Int, query:String)
@pageRoute(p:Int) = {
  @if(query) {
    @routes.Books.search(query, p)
  } else {
    @routes.Books.index(p)
  }
}

@pagination() = {
<div class="row">
  <div class="col-md-12 text-center">
    <ul class="pagination">
      <li><a href="@pageRoute(page - 1)">&laquo;</a></li>
      @for(p <- page - 5 to page - 1) {
        @if(p >= 1 && p != page) {
        <li>
          <a href="@pageRoute(p)">@String.valueOf(p)</a>
        </li>
        }
      }
      <li class="active">
        <a href="@pageRoute(page)">@String.valueOf(page)</a>
      </li>
      @for(p <- page to page + 5) {
        @if(p <= pages && p != page) {
        <li>
          <a href="@pageRoute(p)">@String.valueOf(p)</a>
        </li>
        }
      }
      <li><a href="@pageRoute(page + 1)">&raquo;</a></li>
    </ul>
  </div>
</div>
}

@views.html.Application.main(title) {
  <div id="book-list">
    <div class="book-item row">
      <div class="col-md-12 text-center">
          <h2>@title</h2>
      </div>
    </div>
    @pagination()
    @for(book <- books) {
    <div class="book-item row">
      <div class="col-md-12">
        <div class="media">
          <a class="pull-left" href="@routes.Books.show(String.valueOf(book.getMongo("isbn")))">
            <img class="media-object" style="width: 128px;" src="@routes.Books.cover(String.valueOf(book.getMongo("isbn")))">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              @String.valueOf(book.getMongo("title"))
            </h4>
            @Html(String.valueOf(book.getMongo("description")))
          </div>
        </div>
      </div>
    </div>
    }
    @pagination()
  </div>
}
