@(book: models.Book, similarBooks: List[models.Book])

@views.html.Application.main(String.valueOf(book.getMongo("title"))) {
  <div class="page-header">
    <h1>
      @String.valueOf(book.getMongo("title")) <br />
      <small>by: @String.valueOf(book.byLine())</small>
    </h1>
  </div>
  <div class="row">
    <!-- information -->
    <div class="col-md-9">
      <div class="media">
        <img class="pull-left media-object img-thumbnail" style="width: 256px;"
             src="@routes.Books.cover(String.valueOf(book.getMongo("isbn")))" />
        <div class="media-body">
          @Html(String.valueOf(book.getMongo("description")))
        </div>
      </div>
    </div>
    <!-- purchase -->
    <div class="col-md-3">
      @views.html.Books.partials.purchase(book)
      @views.html.Books.partials.similar(similarBooks)
    </div>
  </div>
}
