@(book: models.Book)

@views.html.Application.main(String.valueOf(book.getMongo("title"))) {
  <div id="book-list">
    <div class="book-item row">
      <div class="col-md-9">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" style="width: 256px;" src="@routes.Books.cover(String.valueOf(book.getMongo("isbn")))">
          </a>
          <div class="media-body">
            <h4 class="media-heading">@String.valueOf(book.getMongo("title"))</h4>
            <h5>By: @String.valueOf(book.getMongo("author"))</h5>
            <p>
              @Html(String.valueOf(book.getMongo("abstract")))
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <form method="PUT" action="@routes.Carts.add">
          <fieldset>
            <input type="hidden" name="isbn" value="@String.valueOf(book.getMongo("isbn"))">
            <label class="checkbox" name="quantity">
              Quantity
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </label>
            <button type="submit" class="btn">Add to cart</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
}
