@(book: models.Book)

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-book"></span> Purchase book
  </div>
  <div class="panel-body">
    <div>
      <strong>Stock:&nbsp;</strong>
      @book.getStock()
    </div>
    <div>
      <strong>Price:&nbsp;</strong>
      $@String.valueOf(book.getMongo("price"))
    </div>
    <hr />
    <div><strong>Copies</strong></div>
    <br />
    <!-- select stock -->
    @if(book.getStock() > 0) {
    <form method="POST" action="@routes.Carts.update()">
      <div class="form-group">
        <input id="relative" name="relative" type="hidden" value="true" />
        <select class="form-control" id="isbn@String.valueOf(book.getMongo("isbn"))" name="isbn@String.valueOf(book.getMongo("isbn"))">
        @for(stock <- 1 to book.getStock()) {
          <option>@stock</option>
        }
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">
          <span class="glyphicon glyphicon-plus-sign"></span>
          Add to cart
        </button>
      </div>
    </form>
    }
    @if(book.getNeo4j("stock").asInstanceOf[Int] == 0) {
      <span class="label label-warning">Out of stock!</span>
    }
  </div>
</div>
